{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    My Team
    <span class="pull-right">
      <a href="/team/edit">
        <i class="fa fa-edit"></i> Edit
      </a>
    </span>
  </div>
  <div class="card-body container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="card-title">{{ team.name }}</h4>
        <p>
          {{ team.description }}
        </p>
        <p>
          Team Snake URL: <br />
          {% if team.snake.url %}
          <code>{{ team.snake.url }}</code>
          <button class="btn btn-link btn-sm" data-clipboard-text="{{ team.snake.url }}" title="Copy to clipboard">
            <i class="fa fa-copy"></i>
          </button>
          {% else %}
          <span class="badge badge-pill badge-danger">
            No Snake URL provided!
          </span>
          {% endif %}
        </p>
      </div>
      <div class="col-md-6">
        <h4 class="card-title d-inline-block">Members</h4>
        <a class="btn btn-primary btn-sm float-right" href="/team/members/new">Add</a>

        <ul class="list-unstyled">
          {% for member in members %}
            <li class="media">
              <img
                src="https://github.com/{{member.user.username}}.png?size=64"
                alt="{{member.user.username}} GitHub profile avatar"
                height="64"
                width="64"
                class="mr-3"
              />
              <div class="media-body">
                <a href="https://github.com/{{member.user.username}}" class="d-inline-block">
                  <h5>
                    {{member.user.username}}
                  </h5>
                </a>
                <button
                  type="submit"
                  class="btn btn-danger btn-sm float-right"
                  data-toggle="modal"
                  data-target="#delete_user_modal"
                  data-id="{{ member.user.id }}"
                  data-username="{{ member.user.username }}">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete_user_modal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteUserModalLabel">Delete User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="modal-text"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block js_dom_ready %}
$('#delete_user_modal').on('show.bs.modal', function (event) {
  var $button = $(event.relatedTarget)
  var id = $button.data('id')
  var username = $button.data('username')
  var $modal = $(this)
  $modal.find('.modal-text').text('Are you sure you want to delete ' + username + '?')
  $modal.find('form').attr('action', '/team/members/' + id + '/')
})
{% endblock %}

