{% extends 'base.html' %}
{% block content %}
<main class="container-fluid">

  <div class="card">
    <div class="card-header">
      Team
      <span class="pull-right">
        <a href="/team/edit">
          <i class="fa fa-edit"></i>
        </a>
      </span>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ team.name }}</h5>
      <p>
        {{ team.description }}
      </p>
      <p>
        Snake: <a href="{{ team.snake.url }}"><code>{{ team.snake.url }}</code></a>
      </p>
    </div>
    <ul class="unstyled-list">
      {% for member in members %}
        <li class="media">
          <img
            src="https://github.com/{{member.user.username}}.png?size=64"
            alt="{{member.user.username}} GitHub profile avatar"
            height="64"
            width="64"
            class="mr-3"
          />
          <div class="media-body">
            <a href="https://github.com/{{member.user.username}}">
              <h5>
                {{member.user.username}}
              </h5>
            </a>

            {% if member.is_team_admin %}
            <p><strong>Team Captain</strong></p>
            {% endif %}

          </div>
          {% if member.user.username != user.username %}
          <div class="pull-right">
            <button
              type="submit"
              class="btn btn-link"
              data-toggle="modal"
              data-target="#delete_user_modal"
              data-id="{{ member.user.id }}"
              data-username="{{ member.user.username }}">
              <i class="fa fa-trash"></i>
            </button>
          </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="card-body">
      <a class="card-link" href="/team/members/new">Add</a>
    </div>
  </div>
</main>

<div class="modal fade" id="delete_user_modal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteUserModalLabel">Delete User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="modal-text"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-primary">Delete User</button>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block js_dom_ready %}
$('#delete_user_modal').on('show.bs.modal', function (event) {
  var $button = $(event.relatedTarget)
  var id = $button.data('id')
  var username = $button.data('username')
  var $modal = $(this)
  $modal.find('.modal-text').text('Are you sure you want to delete ' + username + '?')
  $modal.find('form').attr('action', '/team/members/' + id + '/')
})
{% endblock %}

