<!DOCTYPE html>
<html lang="en" style="height:100%;">
  <head>
    <meta charset="UTF-8">
    <title>Battlesnake</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js" integrity="sha256-z7v8HmIeZylwLaPn0X0Ym8dFyV0vkFVe4BkVW/iuwmQ=" crossorigin="anonymous"></script>
  </head>
  <body style="height:100%;">
    <div id="game_details" style="display: none;">
      <div>{{ tournament_bracket.tournament.name }}</div>
      <div>{{ tournament_bracket.name }}</div>
      <div id="round">?</div>
      <div id="heat">?</div>
      <div id="heat_game">?</div>
      <div id="game_id">?</div>
      <div id="game_status">?</div>
      <button id="refresh">Update Game</button>
    </div>
    <iframe
      id="game"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      style="margin-top: 20px; height: 100%; width: 100%;"></iframe>
    <script>
      domready(function () {
        var urlParams = new URLSearchParams(window.location.search)
        var showGameDetails = urlParams.get('details') === 'true' ? true : false

        function updateGameIframe () {
          $.get({
            url: '/tournament/bracket/{{ tournament_bracket.id }}/current_game?json=true',
            success: onSuccessUpdateGame,
            dataType: 'json',
          })

          function viewGame (game) {
            $('#game').attr('src', game.url)
            if (showGameDetails) {
              $('#game_id').html(game.id)
              $('#game_status').html(game.status)
              $('#round').html("round: " + game.round)
              $('#heat').html("heat: " + game.heat)
              $('#heat_game').html("heat game: " + game.heat_game)
              $('#game_details').show()
            }
          }

          function onSuccessUpdateGame (data) {
            if (data.games.length === 0) {
              return
            }

            // watch the first running game
            done = false
            data.games.forEach(function (game) {
              if (game.status === "running") {
                viewGame(game)
                done = true
                return
              }
            })

            if (done) { return }

            // otherwise watch any non-complete game
            data.games.forEach(function (game) {
              if (game.status !== "complete") {
                viewGame(game)
                return
              }
            })
          }
        }

        updateGameIframe()
        $("button#refresh").on('click', updateGameIframe)
      })
    </script>
  </body>
</html>
