{% extends 'base.html' %}
{% block content %}

{% if tournament_bracket.winners %}
<div class="card" style="margin-bottom: 10px;">
  <div class="card-header">
    Winners
  </div>

  <div class="card-body container">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <ul class="list-group" style="width:200px; padding-bottom:10px;">
            {% for winner in tournament_bracket.winners %}
            <li class="list-group-item">{{ winner.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="card" style="margin-bottom: 10px;">
  <div class="card-header">
    Expected Progression
  </div>

  <div class="card-body container">
    <div class="container">
      <div class="row">
      {% for round in progression %}
        <div class="col-sm">
          <ul class="list-group" style="width:200px; padding-bottom:10px;">
            <li class="list-group-item">Round: {{forloop.counter}}</li>
            <li class="list-group-item">{{ round.num_games }} games</li>
            <li class="list-group-item">{{ round.snakes_per_game }} snakes per game.</li>
          </ul>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="card" style="margin-bottom: 10px;">
  <div class="card-header">
    {{ tournament_bracket.name }}

    <a href="/tournament/bracket/{{ tournament_bracket.id }}/edit">
      Edit
    </a>

    <div class="dropdown pull-right">
      <button type="button"
        id="bracket{{ tournament_bracket.id }}DropdownMenuButton"
        class="btn btn-secondary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu" aria-labelledby="bracket{{ tournament_bracket.id }}DropdownMenuButton">
        <a class="dropdown-item" href="/tournament/bracket/{{ tournament_bracket.id }}/create/next/round">
          Create Next Round
        </a>
        <a class="dropdown-item" href="/tournament/bracket/{{ tournament_bracket.id }}/csv">
          Export as CSV
        </a>
        <a class="dropdown-item" href="/tournament/bracket/{{ tournament_bracket.id }}/set-casting?page=tree">
          Cast Tree
        </a>
      </div>
    </div>
  </div>

  <div class="card-body container">
    <style>
      .list-group-item {
        padding: 1px;
      }
    </style>
    <div class="container">
        <a style="float: right" href="/tournament/bracket/{{ tournament_bracket.id }}/update/games">Update Game Statuses</a>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for round in tournament_bracket.rounds %}
         <li class="nav-item">
            <a class="nav-link {% if forloop.first %}show active{% endif %}" id="round-{{ round.number }}-tab" data-toggle="tab" href="#round-{{ round.number }}" role="tab" aria-controls="home" aria-selected="true">Round {{ round.number }}</a>
         </li>
        {% endfor %}
      </ul>

            <br/>
      <div class="tab-content">
      {% for round in tournament_bracket.rounds %}
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="round-{{ round.number }}" role="tabpanel" aria-labelledby="home-tab">
          <ul class="nav nav-tabs" id="heatTables" role="tablist">
          {% for heat in round.heats %}
             <li class="nav-item">
                <a class="nav-link {% if forloop.first %}show active{% endif %}" id="round-{{ round.number }}-heat-{{ heat.number }}-tab" data-toggle="tab" href="#round-{{ round.number }}-heat-{{ heat.number }}" role="tab" aria-controls="home" aria-selected="true">Heat {{ heat.number }}</a>
             </li>
          {% endfor %}
          </ul>
        <br/>
          <div class="tab-content" id="heatTabContent">
          {% for heat in round.heats %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="round-{{ round.number }}-heat-{{ heat.number }}" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col">
                  <ul class="list-group" style="width:200px; padding-bottom:10px;">
                      {% for snake in heat.snakes %}
                        <li class="list-group-item{% if snake.first or snake.second %} active{% endif %}">{{ snake.snake.name }}</li>
                      {% endfor %}
                  </ul>
                </div>
                <div class="col-8">
                  <div class="heat-games">
                    <ul class="games">
                      {% for heat_game in heat.games %}
                      <li class="heat_game">
                        <a href="/tournament/bracket/{{ tournament_bracket.id }}/heat/{{ heat.id }}/game/{{ heat_game.number }}?autoplay=true">
                          View  {{ heat_game.number }}
                        </a> |
                          <button class="cast_game" id="{{ heat_game.id }}">Cast</button> | {{ heat_game.human_readable_status }}/{{ heat_game.game.status }}  |
                          <a href="/tournament/bracket/{{ tournament_bracket.id }}/heat/{{ heat.id }}/game/{{ heat_game.number }}/delete">
                            delete
                          </a>
                      </li>
                      {% endfor %}
                      {% if heat.status == "complete" %}
                        Heat's Complete
                      {% else %}
                        {% if not heat.latest_game or heat.latest_game.status != "complete" %}
                          <a href="/tournament/bracket/{{ tournament_bracket.id }}/heat/{{ heat.id }}/create_game/">
                            Create Next Game
                          </a>
                        {% else %}
                          Wait for latest game to finish before creating next
                        {% endif %}
                      {% endif %}

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      {% empty %}
        <h4>There are no rounds</h4>
      {% endfor %}
      </div>

    </div>

  </div>
</div>

<script>
  function updatedGameStates(data){
    console.log(data);
    //  TODO
  }

  domready(function () {

    $(".cast_game").click(function(e){
      heat_game_id = e.target.id;
      $.ajax({
        data: {
          heat_game_id: heat_game_id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        url: "/tournament/{{tournament_bracket.tournament.id}}/current_game",
        type: 'post',
        success: updatedGameStates,
      })
    })
  });
</script>

{% endblock %}