{% extends 'base.html' %}
{% block content %}

<div class="card" style="margin-bottom: 10px;">
  <div class="card-header">
    Expected Progression
  </div>

  <div class="card-body container">
    <div class="container">
      <div class="row">
      {% for round in progression %}
        <div class="col-sm">
          <ul class="list-group" style="width:200px; padding-bottom:10px;">
            <li class="list-group-item">{{ round.num_games }} games</li>
            <li class="list-group-item">{{ round.snakes_per_game }} snakes per game.</li>
          </ul>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="card" style="margin-bottom: 10px;">
  <div class="card-header">
    {{ tournament_bracket.name }}

    <a href="/tournament/bracket/{{ tournament_bracket.id }}/edit">
      Edit
    </a>

    <div class="dropdown pull-right">
      <button type="button"
        id="bracket{{ tournament_bracket.id }}"
        class="btn btn-secondary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu" aria-labelledby="bracket{{ tournament_bracket.id }}DropdownMenuButton">
        <a class="dropdown-item" href="/tournament/bracket/{{ tournament_bracket.id }}/add/snake">
          Add Snake to Bracket
        </a>
        <a class="dropdown-item" href="/tournament/bracket/{{ tournament_bracket.id }}/create/next/round">
          Create Next Round
        </a>
        <a class="dropdown-item" href="/tournament/bracket/{{ tournament_bracket.id }}/csv">
          Export as CSV
        </a>
        <a class="dropdown-item" href="/tournament/bracket/{{ tournament_bracket.id }}/current_game">
          View Current Game
        </a>
      </div>
    </div>
  </div>

  <div class="card-body container">
    <style>
      .list-group-item {
        padding: 1px;
      }
    </style>
    <div class="container">
      <div class="row">
      {% for round in tournament_bracket.rounds %}
        <div class="col-sm">
        {% for heat in round.heats %}
          <ul class="list-group" style="width:200px; padding-bottom:10px;">
            {% for snake in heat.snakes %}
              <li class="list-group-item{% if snake.winner %} active{% endif %}">{{ snake.name }}</li>
            {% endfor %}
          </ul>

          <div class="heat-games">
            <a href="/tournament/bracket/{{ tournament_bracket.id }}/heat/{{ heat.id }}/create_game/">
              Create Next Game
            </a>
            <ul class="games">
              {% for heat_game in heat.games %}
              <li class="heat_game">
                <a href="/tournament/bracket/{{ tournament_bracket.id }}/heat/{{ heat.id }}/game/{{ heat_game.number }}">
                  Game {{ heat_game.number }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>

        {% endfor %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

