{% extends 'base.html' %}

{% block outside_content %}
  <div class="container">
    <div class="row">
      <p class="text-center" style="width:100%; font-size: 2rem;">{{ bracket.tournament.name }} > {{ bracket.name }} > Round {{ bracket.latest_round.number }}</p>
    </div>
    <div class="row">
      {% for heat in bracket.latest_round.heats %}
        <div class="colM" style="padding:5px">
        <ul class="list-group float-left" style="width:200px;">
          <li class="list-group-item list-group-item-primary">
            <p class="text-center" style="margin-bottom:0; font-weight: bold;">
              Round {{ bracket.latest_round.number }}, Heat {{ heat.number }}
            </p>
          </li>
          {% for snake_heat in heat.snakes %}
          <li class="list-group-item" style="padding: 5px;">
            {{ snake_heat.snake.name }}
            {% if snake_heat.first %}<span class="badge badge-success">1st</span>{% endif %}
            {% if snake_heat.second %}<span class="badge badge-success">2nd</span>{% endif %}
          </li>
          {% endfor %}
        </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
