{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4 text-center">New Game</h1>

<div class="form-group card">
  <div class="card-body">
    <form method="post" novalidate action="/games/new/">
      {% csrf_token %}
      {% include '_new_snake_form.html' with game_form=game_form snake_formset=snake_formset %}
      <hr />
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">
          Create Game
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js_dom_ready %}
$(".js-snake-formset").formset({
  prefix: 'snake',
  addText: 'Add Snake',
  deleteText: 'Remove',
  addCssClass: 'btn btn-secondary btn-small',
  deleteCssClass: 'btn btn-danger btn-small',
  addContainerClass: 'js-snake-add',
  deleteContainerClass: 'js-snake-remove',
})
{% endblock %}
