{% extends 'base.html' %}
{% block content %}
<div class="container-fluid text-center" style="padding-bottom: 2rem;">
  <h1>Game <small class="text-muted">{{ id }}</small></h1>

  <button
  type="button"
    id="iframe_restart"
    class="btn btn-primary"
    >
    <span class="fa fa-refresh"></span> Restart Game
  </button>
</div>
{% endblock %}

{% block outside_content %}
<div class="fullscreen-board-frame">
  <iframe
    id="iframe_game"
    src="{{ url | safe }}"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    style="
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    ">
  </iframe>
</div>
{% endblock %}

{% block js_dom_ready %}
$('#iframe_restart').on('click', function (e) {
  e.preventDefault()
  $('#iframe_game').attr('src', $('#iframe_game').attr('src'))
})
{% endblock %}
