{% extends 'base.html' %}

{% block extra_css %}
<style>
.popover {
  width: 400px;
  max-width: 100%;
}
</style>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    My Snakes
  </div>
  <ul class="list-group list-group-flush">
    {% for snake in snakes %}
    <li class="list-group-item d-flex justify-content-between">
      <div style="max-width: 80%;">
        <h5>
          {{ snake.name }}
          <button type="button"
            class="btn btn-sm btn-light js-show-snake-status"
            data-toggle="popover"
            data-snake-url="{{ snake.url }}"
            >
              <i class="fa fa-info"></i>
          </button>
        </h5>
        <p>
          <code>{{ snake.url }}</code>
          <button class="btn btn-link btn-sm" data-clipboard-text="{{ snake.url }}" title="Copy to clipboard">
            <i class="fa fa-copy"></i>
          </button>
        </p>
      </div>
      <div>
        <a href="/snakes/{{ snake.id }}/edit" class="btn btn-primary btn-sm" title="Edit snake details">
          <i class="fa fa-edit"></i>
        </a>
        <button
          type="submit"
          class="btn btn-danger btn-sm"
          title="Delete snake"
          data-toggle="modal"
          data-target="#delete_snake_modal"
          data-id="{{ snake.id }}"
          data-name="{{ snake.name }}">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="card-body">
    {% if not snakes %}
    <p>You have no snakes to play with — why not add one?</p>
    {% endif %}
    <a class="card-link" href="/snakes/new">Add</a>
  </div>
</div>

<div class="modal fade" id="delete_snake_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Snake</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="modal-text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-primary">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block js_dom_ready %}
$('#delete_snake_modal').on('show.bs.modal', function (event) {
  var $button = $(event.relatedTarget)
  var id = $button.data('id')
  var name = $button.data('name')
  var $modal = $(this)
  $modal.find('.modal-text').text('Are you sure you want to delete ' + name + '?')
  $modal.find('form').attr('action', '/snakes/' + id + '/')
})

$(document).on('click', '.popover .close', function () {
  $(this).parents('.popover').popover('dispose')
})

$('.js-show-snake-status').on('click', function (event) {
  event.preventDefault()
  var $elem = $(this)
  var snakeUrl = $elem.data('snake-url')

  $('.popover').popover('dispose')
  $elem.prop('disabled', true)
  $elem.addClass('disabled')

  var engineUrl = window.__battlesnake.settings.ENGINE_URL

  $.ajax({
    async: true,
    dataType: 'json',
    url: engineUrl + '/validateSnake?url=' + snakeUrl,
    success: function (data) {
      var html = ''
      var hasErrors = false

      var scoreTotal = 0
      var scorePassedTotal = 0

      for (var key of Object.keys(data)) {
        var item = data[key]
        scoreTotal += (item.score.checksPassed + item.score.checksFailed)
        scorePassedTotal += item.score.checksPassed

        html += '<h3>' + key + '</h3>' +
          '<p>' +
          'Status: <span class="badge badge-sm ' + (item.statusCode !== 200 ? 'badge-danger' : 'badge-success') + '">' + item.statusCode + '</span><br />' +
          'Checks: <span class="badge badge-success badge-sm">' + item.score.checksPassed + ' passed</span>' + (item.score.checksFailed !== 0 ? ' / <span class="badge badge-danger badge-sm">' + item.score.checksFailed + ' failed</span>' : '') + '<br />' +
          'Message: ' + item.Message +
          '</p>'


        if (item.Errors.length) {
          hasErrors = true
        }

        html += hasErrors ? '<p class="text-danger">' : ''
        for (var errIndex in item.Errors) {
          html += 'Error: ' + item.Errors[errIndex]
        }
        html += hasErrors ? '</p>' : ''
      }

      if (!hasErrors) {
        html = '<div class="alert alert-success text-center">No errors!</div>' + html
      }

      if (scorePassedTotal < scoreTotal) {
        $elem.removeClass('btn-light')
        $elem.addClass('btn-danger')
      } else {
        $elem.removeClass('btn-light')
        $elem.addClass('btn-success')
      }

      $elem.popover({
        placement: 'right',
        trigger: 'click',
        title: 'Snake API Validation <button type="button" class="close" aria-label="Close" style="line-height: .6;"><span aria-hidden="true">&times;</span></button>',
        html: true,
        content: html,
      })
      $elem.popover('show')

      $elem.prop('disabled', false)
      $elem.removeClass('disabled')
    },
  })
})
{% endblock %}

