{% extends 'base.html' %}
{% block content %}
<main class="container-fluid">

  <div class="card">
    <div class="card-header">
      Leaderboard
      <a class="pull-right" href="/leaderboard/snakes/">My Snakes</a>
    </div>

    <ol class="list-group">
      {% for snake in ranked %}
      <li class="list-group-item">
        {{ snake.name }}: {{ snake.rank|floatformat:2 }}

        <h6>Most Recent Games</h6>
        <ol class="list-group">
          {% for result in snake.results %}
          <li class="list-group-item">
            <a href="/games/{{ result.game.engine_id }}">{{ result.game.engine_id }}</a> - Rating Change: {{ result.mu_change | floatformat:2 }}
          </li>
          {% endfor %}
        </ol>
      </li>
      {% endfor %}
    </ol>
  </div>

</main>
{% endblock %}
