<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Battlesnake</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'application.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
  <!-- ================== GOOGLE FONTS ==================-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
  <!-- ======================= GLOBAL VENDOR STYLES ========================-->
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/metismenu/dist/metisMenu.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/switchery-npm/index.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
  <!-- ======================= LINE AWESOME ICONS ===========================-->
  <link rel="stylesheet" href="{% static 'css/icons/line-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons/simple-line-icons.css' %}">
  <!-- ======================= DRIP ICONS ===================================-->
  <link rel="stylesheet" href="{% static 'css/icons/dripicons.min.css' %}">
  <!-- ======================= MATERIAL DESIGN ICONIC FONTS =================-->
  <link rel="stylesheet" href="{% static 'css/icons/material-design-iconic-font.min.css' %}">
  <!-- ======================= PAGE VENDOR STYLES ===========================-->
  <link rel="stylesheet" href="{% static 'vendor/datatables.net-bs4/css/dataTables.bootstrap4.css' %}">
  <!-- ======================= GLOBAL COMMON STYLES ============================-->
  <link rel="stylesheet" href="{% static 'css/common/main.bundle.css' %}">
  <!-- ======================= LAYOUT STYLES ===========================-->
  <link rel="stylesheet" href="{% static 'css/layouts/horizontal/core/main.css' %}">
  <!-- ======================= MENU TYPE ===========================-->
  <link rel="stylesheet" href="{% static 'css/layouts/horizontal/menu-type/auto-hide.css' %}">
  <!-- ======================= THEME COLOR STYLES ===========================-->
  <link rel="stylesheet" href="{% static 'css/layouts/horizontal/themes/theme-j.css' %}">
  {% block extra_css %}{% endblock %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36561803-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-36561803-13');
  </script>
  {% block google_analytics %}{% endblock %}  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js" integrity="sha256-hIvIxeqhGZF+VVeM55k0mJvWpQ6gTkWk3Emc+NmowYA=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js" integrity="sha256-z7v8HmIeZylwLaPn0X0Ym8dFyV0vkFVe4BkVW/iuwmQ=" crossorigin="anonymous"></script>
  {% block extra_js %}{% endblock %}

</head>
<body class="layout-horizontal menu-auto-hide">
  <nav class="navbar navbar-expand flex-column flex-no-wrap bg-primary navbar-dark flex-md-row bd-navbar">
    <a class="navbar-brand" href="/">BATTLESNAKE</a>
    {% block navbar %}
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/snakes">Snakes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/games">Play</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Team</a>
        </li>
        {% if user.is_admin %}
        <li class="nav-item">
          <a class="nav-link" href="/tournaments">Tournaments <span class="badge badge-danger">Admin</span></a>
        </li>
        {% endif %}
      </ul>
    {% endblock %}
    <div class="navbar-nav flex-row ml-md-auto d-md-flex">
      {% block navbar_right %}
          {% if not user.is_anonymous %}
            <div class="dropdown">
              <a href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                style="text-decoration: none; color: var(--dark)"
              >
                <img
                  src="https://github.com/{{ user.username }}.png?size=64"
                  alt="{{ user.username }} GitHub profile avatar"
                  height="24"
                  width="24"
                  class="w-35 rounded-circle"
                />
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <p class="dropdown-header">
                    <a href="/profile" style="text-decoration: none; color: #212529">
                      Logged in as <br />
                      <strong>{{ user.username }}</strong>
                    </a>
                </p>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/team">My Tournament Team</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </div>
          {% endif %}
      {% endblock %}
    </div>
  </nav>
  <main class="app container-fluid">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}

    {% block content %}{% endblock %}
  </main>
  {% block outside_content %}{% endblock %}
</body>
<script>
  domready(function () {
    /**
     * ClipboardJS integration on buttons
     */
    $('[data-clipboard-text]').tooltip({
      trigger: 'click',
      placement: 'top'
    })

    function setTooltip (triggerElem, message) {
      $(triggerElem)
        .tooltip('hide')
        .attr('data-original-title', message)
        .tooltip('show')
    }

    function hideTooltip () {
      setTimeout(function () {
        // Blanket-hide all
        $('[data-clipboard-text]').tooltip('hide')
      }, 1000)
    }

    var clipboard = new ClipboardJS('[data-clipboard-text]')

    clipboard.on('success', function (event) {
      setTooltip(event.trigger, 'Copied!')
      hideTooltip()
    })

    clipboard.on('error', function (event) {
      setTooltip('Failed to copy!')
      hideTooltip()
    })

    window.__battlesnake = {
      settings: {
        ENGINE_URL: '{{ENGINE_URL}}'
      }
    }


    /**
     * Individual page JS
     */

    {% block js_dom_ready %}{% endblock %}
  })
</script>
</html>
