<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Battlesnake 2019</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'application.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  {% block extra_css %}{% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js" integrity="sha256-hIvIxeqhGZF+VVeM55k0mJvWpQ6gTkWk3Emc+NmowYA=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js" integrity="sha256-z7v8HmIeZylwLaPn0X0Ym8dFyV0vkFVe4BkVW/iuwmQ=" crossorigin="anonymous"></script>
  {% block extra_js %}{% endblock %}

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Battlesnake 2019</a>
    {% block navbar %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/team">Tournament</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/snakes">Snakes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/games">Play</a>
        </li>
      </ul>
    {% endblock %}
    <div class="navbar-right">
      {% block navbar_right %}
        <div class="dropdown">
          <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            style="text-decoration: none; color: var(--dark)"
          >
            <img
              src="https://github.com/{{ user.username }}.png?size=64"
              alt="{{ user.username }} GitHub profile avatar"
              height="24"
              width="24"
              class="rounded"
            />
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <p class="dropdown-header">
              Logged in as <br />
              <strong>{{ user.username }}</strong>
            </p>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/team">My Tournament Team</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>
      {% endblock %}
    </div>
  </nav>
  <main class="app container-fluid">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}

    {% block content %}{% endblock %}
  </main>
  {% block outside_content %}{% endblock %}
</body>
<script>
  domready(function () {
    /**
     * ClipboardJS integration on buttons
     */
    $('[data-clipboard-text]').tooltip({
      trigger: 'click',
      placement: 'top'
    })

    function setTooltip (triggerElem, message) {
      $(triggerElem)
        .tooltip('hide')
        .attr('data-original-title', message)
        .tooltip('show')
    }

    function hideTooltip () {
      setTimeout(function () {
        // Blanket-hide all
        $('[data-clipboard-text]').tooltip('hide')
      }, 1000)
    }

    var clipboard = new ClipboardJS('[data-clipboard-text]')

    clipboard.on('success', function (event) {
      setTooltip(event.trigger, 'Copied!')
      hideTooltip()
    })

    clipboard.on('error', function (event) {
      setTooltip('Failed to copy!')
      hideTooltip()
    })

    /**
     * Individual page JS
     */

    {% block js_dom_ready %}{% endblock %}
  })
</script>
</html>
