{% extends "base.html" %}

{% block content %}

<div class="form-group card">
  <h5 class="card-header">Create Game</h5>
  <div class="card-body">
    <form method="post" novalidate action="">
      {% csrf_token %}
      {% include '_form.html' with form=form %}
      <label>Snakes</label>
      <table id="snake-table" class="table table-striped">
      </table>
      <div class="form-group">
          <label>Add Snake:</label>
          <div class="row">
              <div class="col">
                  <select id="add-snakes" type="text" placeholder="type to search for snakes..." class="form-control" autocomplete="off" data-url="/g/snake-autocomplete/"></select>
              </div>
              <div class="col-md-2">
                  <button id="add-snake-button" type="button" class="btn btn-sm btn-primary">Add</button>
              </div>
          </div>
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/v2.0.0/dist/latest/bootstrap-autocomplete.min.js"></script>
{% endblock %}

{% block js_dom_ready %}
    $("#add-snakes").autoComplete()
    $("#add-snakes").keypress(function(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code == 13) { //Enter keycode
            return false;
        }
    })
    $("#add-snake-button").on('click', function() {
        var snakeId = $("#add-snakes").next().next().val()
        var snakesField = $("#id_snakes")
        var current = snakesField.val()
        if (!current) {
            snakesField.val(snakeId)
        } else {
            snakesField.val(current + "," + snakeId)
        }
        updateSnakesTable()
        $("#add-snakes").val("").next().next().val("")
    })

    function updateSnakesTable() {
        var snakes = $("#id_snakes").val()
        table = $("#snake-table")
        table.empty()
        $.ajax({
            url: "/g/snake-info/?snakes=" + snakes,
        }).done(function(data) {

            $.each(snakes.split(","), function(_, snakeId) {
                $.each(data, function(_, item) {
                    if (item.value != snakeId) {
                        return
                    }
                    table.append('<tr><td>' + item.text + '</td><td class="text-right"><button type="button" class="btn btn-danger btn-sm remove-snake" data-snake-id=' + item.value + '>Remove</button></td></tr>')
                })
            })
        })
    }

    $("body").on("click", ".remove-snake", function() {
        snakeId = $(this).data("snake-id")
        snakeIds = $("#id_snakes").val().split(",")
        newIds = []
        $.each(snakeIds, function(i, item) {
            if (item != snakeId) {
                newIds.push(item)
            }
        })
        $("#id_snakes").val(newIds.join(','))
        updateSnakesTable()
    })

    $("#id_height").parent().hide()
    $("#id_width").parent().hide()

    function changeSizeInputs(disabled) {
        if (disabled === true) {
            $("#id_height").parent().hide()
            $("#id_width").parent().hide()
        } else {
            $("#id_height").parent().show()
            $("#id_width").parent().show()
        }
        $("#id_width").prop('disabled', disabled)
        $("#id_height").prop('disabled', disabled)
    }

    $(document).on('change', '', function(event) {
        let size = $("#id_board_size").val()
        if (size === 'custom') {
            changeSizeInputs(false)
        } else {
            changeSizeInputs(true)
        }
    })

    updateSnakesTable()
{% endblock %}