{% extends 'base.html' %}
{% block content %}
<div class="mb-md-3 text-center">
  <h1>Create Tournament Group</h1>
  <button type="button" class="btn btn-primary js-show-form-btn">Create a tournament group</button>
</div>

<div class="form-group card js-form-to-show" style="display: none;">
  <div class="card-body">
    <form method="post" novalidate action="/tournament_group/new/">
      {% csrf_token %}
      {% include '_form.html' with form=form %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block js_dom_ready %}
$('.js-show-form-btn').on('click', function () {
  $('.js-form-to-show').fadeIn()
})
{% endblock %}
