{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    Tournaments
    <span class="pull-right">
      <a href="/tournament/new">
        <i class="fa fa-edit"></i> New
      </a>
    </span>
  </div>
  <div class="card-body container">
    <ul>
      {% for t in tournaments %}
      <li><a href="/tournament/{{ t.id }}/">{{ t.name }}</a> ({{ t.tournament_group.name }}) <a href="/tournament/{{ t.id }}/edit">Edit</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<br/>

<div class="card">
  <div class="card-header">
    Tournament Groups
    <span class="pull-right">
      <a href="/tournament_group/new">
        <i class="fa fa-edit"></i> New
      </a>
    </span>
  </div>
  <div class="card-body container">
    <ul>
      {% for tg in tournament_groups %}
      <li>{{ tg.name }} ({{tg.date}}) <a href="/tournament_group/{{ tg.id }}/edit">Edit</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
