{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    Tournaments
    <div class="dropdown pull-right">
      <button type="button"
        id="tournamentDropdownMenuButton"
        class="btn btn-secondary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu" aria-labelledby="tournamentDropdownMenuButton">
        <a class="dropdown-item" href="/tournament/new">New Tournament</a>
      </div>
    </div>
    </span>
  </div>
  <div class="card-body container">
    <ul>
      {% for t in tournaments %}
      <li>
        <span>{{ t.name }} ({{t.date}})</span> 
        <a href="/tournament/{{ t.id }}/edit">[Edit]</a>
        <a href="/tournament/{{ t.id }}/bracket/new">[Create Bracket]</a>
        <a href="/tournament/{{ t.id }}/current_game">[Watch]</a>
      </li>
      <ul>
        {% for b in t.brackets %}
        <li><a href="/tournament/bracket/{{ b.id }}/">{{ b.name }}</a> ({{b.snake_count}} snakes) <a href="/tournament/bracket/{{ b.id }}/edit">Edit</a></li>
        {% endfor %}
      </ul>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}