{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    {{ tournament.name }}
    <span class="pull-right">
      <a href="/tournament/{{ tournament.id }}/edit">
        <i class="la la-edit"></i> Edit
      </a>
    </span>
  </div>
  <div class="card-body container">
    <ul class="rounds">
    {% for round in tournament.rounds %}
      <li class="round">
        Round: {{ round.number }}

        <ul class="heat">
        {% for heat in round.heats %}
          <li>
            Heat: {{ heat.number }}

            <div class="heat-snakes">
              <ul class="snakes">
              {% for snake in heat.snakes %}
                <li class="snake">{{ snake.name }}</li>
              {% endfor %}
              </ul>
            </div>

            <div class="heat-games">
              <a href="/tournament/{{ tournament.id }}/heat/{{ heat.id }}/create_game/">Create Next Game</a>
              <ul class="games">
                {% for heat_game in heat.games %}
                  <li class="heat_game">
                    Game {{ heat_game.number }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

