<!DOCTYPE html>
<html lang="en" style="height:100%;">
  <head>
    <meta charset="UTF-8">
    <title>Battlesnake</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js" integrity="sha256-z7v8HmIeZylwLaPn0X0Ym8dFyV0vkFVe4BkVW/iuwmQ=" crossorigin="anonymous"></script>
  </head>
  <body style="height:100%;">
    <div id="breadcrumbs" style="border:solid thin black;"></div>
    <iframe
      id="game"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      style="margin-top: 20px; height: 90%; width: 100%;"></iframe>
    <div id="no_game"> NO GAMES ARE RUNNING CURRENTLY</div>
    <script>
      tournament_id = {{ tournament.id }};
      current_url = "";
      $("#no_game").show();
      $("#game").hide();

      domready(function () {
        function watchURL(url) {

          if(current_url === url){
            return false;
          }
          console.log("switching to: "+url);

          // already watching
          if(url !== ""){
            $("#no_game").hide();
            $("#game").show();
          }

          $('#game').attr('src', url);
          current_url = url;
          return true;
        }

        function getCurrentWatchingGame() {
          $.get({
            url: '/tournament/'+tournament_id+'/current_game?json=true',
            success: onSuccessUpdateGame,
            dataType: 'json',
          });

          function onSuccessUpdateGame (data) {
            setTimeout(getCurrentWatchingGame,1000);  // every second
            watchURL(data.tournament.casting_uri);
          }
        }

        getCurrentWatchingGame();
      })
    </script>
  </body>
</html>
