{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    {{ tournament.name }}
    <span class="pull-right">
      <a href="/tournament/{{ tournament.id }}/edit">
        <i class="fa fa-edit"></i> Edit
      </a>
    </span>
  </div>
  <div class="card-body container">
    {% for round in tournament.rounds %}
      {{ round.name }}
      {% for heat in round.heats %}
        {{ heat.name }}
        <ul>
          {% for snake in heat.snakes %}
          <li>{{ snake.name }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}

