{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4">
      <img class="card-img-top" src="https://github.com/{{ player.username }}.png?size=150">
    </div>

    <h5>{{ player.username }}</h5>

    <ul class="list-unstyled">
      <li>
        <i class="fa fa-github"></i>
        <a target="_blank" href="https://github.com/{{ player.username }}">GitHub</a>
      </li>
      <li>
        <i class="fa fa-globe"></i>
        Vancouver
      </li>
    </ul>

    {% if player.user == user %}
      <hr />
      <a class="btn btn-secondary btn-block" href="/profile">Edit</a>
    {% endif %}
  </div>
  <div class="col-md-8">
  </div>
</div>

{% endblock %}
